.designation {
  margin-top: 20px;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: none;
  margin-bottom: none;
}

.company {
  display: block;
  margin-top: 5px;
  font-size: 19px;
  margin-bottom: none;
}

.duration {
  display: block;
  font-size: 16px;
}

.location {
  font-size: 14px;
}
