.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 0.25rem 0;

  a {
    // background: #dddddd;
    background: #dfdfdf;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
    transition: 0.3s;
    border-radius: 5px;
  }

  a:hover {
    transform: scale(1.015);
    // background: #d1d1d1;
    background: #cacaca;
  }
  h2 {
    margin-bottom: 10px;
  }
  p {
    // color: #777777;
    color: rgb(68, 64, 64);
    font-size: 0.72rem;
  }
  span {
    font-size: 0.9rem;
  }
}
