.footer {
  margin-top: 5rem;
  text-align: center;
}

.spacing {
  display: block;
  margin-top: 10px;
}

.footerText {
  // display: block;
  margin-top: 35px;
  margin-bottom: none;
  font-size: 14px;
  img {
    height: 20px;
    margin-block: -5px;
  }
}
