.header {
  padding: 1rem 0 2rem;
  text-align: center;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 0 10px;
  // margin-right: 1.3rem;
}

.nav-item:hover {
  color: #666666;
  color: #000;
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.title {
  text-decoration: none;
  // font-size: 2.5rem;
  font-size: 2rem;
  color: black;
}

.active-nav-item {
  color: #333333;
  color: #000;
  font-weight: 550;
}
