.avatarStyles {
  alt: "avatar";
  height: 130px;
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%);
}

.homeContainer {
  text-align: center;
}
